body{
margin:0;
font-family:'Segoe UI', sans-serif;
background:#fdf6ff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

#splash{
position:fixed;
width:100%;
height:100%;
background:#c7d2fe;
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
color:#3730a3;
z-index:9999;
}

.app-container{
width:100%;
max-width:500px;
height:95vh;
background:#ffffff;
border-radius:25px;
box-shadow:0 10px 40px rgba(0,0,0,0.1);
display:flex;
flex-direction:column;
overflow:hidden;
}

.header{
text-align:center;
padding:15px;
background:#e0e7ff;
}

.header h2{
margin:0;
color:#4338ca;
}

.header p{
margin:5px 0 0;
color:#555;
}

.controls{
display:flex;
justify-content:space-between;
padding:10px;
background:#f3f4f6;
}

.controls button{
padding:8px 12px;
border:none;
border-radius:15px;
background:#a5b4fc;
color:#1e3a8a;
cursor:pointer;
font-weight:600;
}

.controls button:hover{
background:#818cf8;
}

.screen{
flex:1;
padding:15px;
overflow-y:auto;
display:none;
}

.screen.active{
display:block;
}

.card{
padding:12px;
margin-bottom:10px;
background:#fce7f3;
border-radius:15px;
cursor:pointer;
font-weight:600;
transition:0.3s;
display:flex;
align-items:center;
gap:10px;
}

.card:hover{
background:#fbcfe8;
transform:translateY(-3px);
}

.playlist-btn{
display:block;
text-align:center;
padding:10px;
margin-top:10px;
background:#bfdbfe;
border-radius:12px;
text-decoration:none;
color:#1e3a8a;
font-weight:bold;
}

.playlist-btn:hover{
background:#93c5fd;
}

h3,h4{
text-align:center;
color:#6d28d9;
}
